#carousel-header{
    width: 1400px;
    height: 250px;
}

.carousel-item > img {
    height:250px;
}

.navbar-nav {
    margin-left: 400px;
}

.footer {
    position: absolute;
    right: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    align-self: flex-end;
  }

.carousel-indicators > li {
    cursor: pointer;
}

.user {
    display: flex;
    justify-content: flex-end;
    color: #f4f3f3;
}

.user > .img-header{ 
    height: 38px;
    width: 38px;
    cursor: pointer;
    margin-top: 3px;
}

.dropdown {
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    position: absolute;
    top: 52px;
    right: 10px;
    z-index: 10;
}

.dropdown > .profile {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 175px;
    background-color: #ffffff;
    padding-top: 38px;
}

.img-dropdown-container{
    width: 150px;    
}

.img-dropdown-container > .img-dropdown {
    width: 100px;
    margin-left: 25px;
}

.text-container {
    width: 150px;
    color: #000000;
    flex-direction: column;
}

.text-container > .text {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.user-footer{
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 50px;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, .2);
    background-color: #f5f5f5;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.list-group {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.text-center {
    text-align: center;
}