{include file="header.tpl"}
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a  href="#" class="anchor-nav" id="categoria">Editar Categorias</a></li>
    <li><a  href="#" class="anchor-nav" id="delantal">Editar Delantales</a></li>
  </ul>
</nav>
<section id=containerAdmin>
  <h1>Bienvenido</h1>
</section>
{include file="footer.tpl"}
