
<h4>Products</h4>
<div class="col-lg-8 list-group">    
    <a href="#" class="list-group-item list-group-item-action navegacion" id="">Add</a>
    <a href="#" class="list-group-item list-group-item-action">Delete</a>
    <a href="#" class="list-group-item list-group-item-action navegacion" >Update</a>
    <a href="#" class="list-group-item list-group-item-action">List</a>
  </div>
<h4>Categories</h4>
  <div class="col-lg-8 list-group">      
      <a href="#" class="list-group-item list-group-item-action">Add</a>
      <a href="#" class="list-group-item list-group-item-action">Delete</a>
      <a href="#" class="list-group-item list-group-item-action navegacion" id="mostrarEditarCategoria">Update</a>
      <a href="#" class="list-group-item list-group-item-action">List</a>
    </div>
<section id=containerAdmin>
  <h2 class="text-center">Bienvenido</h2>
</section>


