<footer class="footer">
		<div>
			<span>Llanitos Servicios Web - 7000 Tandil, Buenos Aires, Argentina</span>
		</div>
	</footer>
	<script src="./js/pRender.js" type="text/javascript"></script>
  </body>
</html>