
<div class="container">
  <article class="row">
    <div class="col align-self-center">
      <div class="card">        
         <div class="card-block">   
            <h3 class="card-title">¿Quienes somos?</h3>
            <p class="card-text">Somos una empresa que presta servicios, principalmente de desarrollo web, interesándonos por ofrecer webs 
                dinámicas y a medida del cliente. Tenemos base en Tandil, provincia de Buenos Aires, Argentina. Somos una 
                empresa relativamente joven que tuvo sus comienzos allá por el 2010. Y hasta la fecha seguimos creciendo con 
                entusiasmo por lo que nos gusta hacer. Gracias por elegirnos kappa.
            </p>
          </div>
      </div>
    </div>
  </article>
</div>

<article class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
           <h3 class="panel-title">Nuestros servicios</h3>
       </div>
       <div class="panel-body">
      <ul>
        <li>
          <h4>Sitios Web Full Responsive</h4>
          <p>Sitios institucionales, e-comerce, portfolios y catalogo de sus productos, adaptado a todos los tipos de dispositivos.</p>
        </li>
        <li>
          <h4>Desarrollos a Medida</h4>
          <p>Programación para necesidades específicas de su negocio como reservas de hoteles, buscadores para inmobiliarias, registro de clientes, etc.</p>
        </li>
        <li>
          <h4>Google AdWords</h4>
          <p>Hacemos un relevamiento de tus productos o servicios, y armamos tus campañas en Google Adwords.</p>
        </li>
        <li>
          <h4>Dominios Web y Hosting</h4>
          <p>Registramos su dominio y lo damos de alta en un hosting, creando sus cuentas de mail con su dominio web.</p>
        </li>
        <li>
          <h4>Gestión de Redes Sociales</h4>
          <p>Publicidad en Facebook, Twitter, Linkedin y Google Adwords. Estrategias en Social Media y Community Management.</p>
        </li>
        <li>
          <h4>SEM / SEO</h4>
          <p>Mejoramos la visibilidad de su sitio web en los resultados orgánicos de los diferentes buscadores.</p>
        </li>
        <li>
          <h4>Landing Pages</h4>
          <p>Una opción instantánea a muy bajo costo con un sitio de una página web que brinda presencia online inmediata.</p>
        </li>
        <li>
          <h4>Diseño Gráfico</h4>
          <p>Diseñamos tu logo tanto para medios digitales como para impresiones (tarjetas, folletos, etc).</p>
        </li>
        <li>
          <h4>Venta On-Line</h4>
          <p>Sitios con E-Commerce, carrito de compras, plataforma de pago para tus productos.</p>
        </li>
        <li>
          <h4>Fotografía y Video</h4>
          <p>Realizamos la fotografía profesional de sus productos o empresa, como también videos institucionales o de “Make off”.</p>
        </li>
      </ul>	
      </div>
    </div>
  </div>
</article>

<article class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
           <h3 class="panel-title">Ultimos proyectos realizados</h3>
       </div>
       <div class="panel-body">
         <a class="im" href="http://chilicongraphic.com/" target="_blank"><img class="img-responsive" src="images/proyects/web1.png"></a>
        <a href="http://www.triplagent.com/" target="_blank"><img class="img-responsive" src="images/proyects/web2.png"></a>
        <a href="https://sumall.com/" target="_blank"><img class="img-responsive" src="images/proyects/web3.png"></a>
        <a href="http://www.blocklevel.nl/" target="_blank"><img class="img-responsive" src="images/proyects/web4.png"></a>
      </div>
    </div>
  </div>
</article>
