<article class="container" >
  <section class="row container">
      {foreach from=$productos item=producto}
      
      
        <div class="col-lg-12">
            <div class="card">
                <div class="card-block">
                  <h4 class="card-title">{$producto['name']}</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
          
      
      
      
    {/foreach}
  </section>
</article>


